@import "01-vendors/normalize.css";
@import "02-variables/fonts.scss";

/* Arbitrary breakpoint values */
$screen-sm: 769px;
$screen-md: 1201px;

@mixin sm {
    @media (max-width: #{$screen-sm}) {
        @content;
    }
}
 
@mixin md {
    @media (max-width: #{$screen-md}) {
        @content;
    }
}

body{
    background-color: #e4e8eb;
    font-family: $gloriola-reg;
}

#content-wrapper {
    background-color: #cdd3da;
    min-height: 100vh;
    margin: 0 96px;
    @include md {
        margin: 0 48px;
    }
    @include sm {
        margin: 0 28px;
    }
    #navbar {
        height: 48px;
        background-color: #0043a0;
    }
    #hero-container {
        height: 400px;
        background-color: #2e3c49;
    }
    #profile-card-wrapper {
        padding: 48px;
        #profile-card-grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 64px;
            @include md {
                grid-template-columns: repeat(2, 1fr);
            }
            @include sm {
                grid-template-columns: repeat(1, 1fr);
            }
            .profile {
                background-color: #f6f7fa;
                border-radius: 12px;
                height: 400px;
                box-shadow: 0 0 10px 0px rgb(0,0,0,.25);
                padding: 40px;
                overflow: hidden;
                .profile-inner {
                    position: relative;
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 20px;
                    height: 100%;
                    width: 100%;
                }
                .header {
                    height: 32%;
                    position: relative;
                    .header-flair {
                        height: 50%;
                        background-color: #c3fef6;
                    }
                    .thumbnail-wrapper{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%); /* Thumbnail will always be in center of header  */
                        left: 18px;
                        max-width: calc(100% / 3);
                        max-height: 80%;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        border: 5px solid white;
                        overflow: hidden;
                    }
                    .thumbnail {
                        width: 100%;
                    }
                }
                .profile-blurb {
                    span {
                        display: block;
                        &.icaName {
                            font-family: $gloriola-bold;
                            font-size: 20px;
                        }
                        &.title {
                            color: #7d8996;
                        }
                    }
                }
                .profile-bioShort {
                    color: #2c8eed;
                }
                .profile-details {
                    font-family: $gloriola-thin;
                    .linkedInSkill, .teamName {
                        font-family: $gloriola-med;
                    }
                }
                .email {
                    text-decoration: none;
                    button {
                        border: 2px solid #46a3f3;
                        border-radius: 8px;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        padding: 8px 32px;
                        cursor: pointer;
                        background-color: #f6f7fa;
                        color: #46a3f3;
                        font-family: $gloriola-med;
                    }
                }
            }
        }
    }
}